body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
#myH1 {
  margin-top: 90px;
  font-size: 6rem;
  font-family: "Arial", sans-serif;
  color: black;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 10px black;
  padding: 30px;
  margin-top: 15px;
  border-radius: 50px;
  background-color: #b4e756;
}
#display {
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
  margin-bottom: 20px;
}
#controls button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 130px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: 0.5s;
}
#startBtn {
  background-color: green;
  box-shadow: 1px 1px 1px black;
}
#startBtn:hover {
  background-color: hsl(115, 100%, 30%);
}
#stopBtn {
  background-color: red;
  box-shadow: 1px 1px 1px black;
}
#stopBtn:hover {
  background-color: hsl(10, 90%, 40%);
}
#resetBtn {
  background-color: hsl(205, 90%, 60%);
  box-shadow: 1px 1px 1px black;
}
#resetBtn {
  background-color: hsl(205, 90%, 60%);
}